.dataTables_wrapper {
  width: calc(100% - 2px) !important;
  margin-top:0rem;
  border:solid 1px #ddd;
  border-radius:4px;
  background: linear-gradient(45deg, #f5f2f2, #fff);
}
table.dataTable thead th, table.dataTable tfoot th {
  text-align: center;border-bottom: 1px solid #b0b0b0;border-top: 1px solid #b0b0b0;    color: #393737;
      font-size: .8rem;
}
table.dataTable tfoot th{background-color:#f1f1f1}
.dataTables_length {
	max-width:100%;
  font-size: 0.875em;
  color: #555555 !important;
  margin-bottom: 20px;
   margin-top: 10px;
    margin-left: 10px;
}
.dataTables_length select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 0.875em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-width: 66px !important;
  max-width:100%;
  color: #000000;
  padding: 8px;
  background: #ffffff;
  border: 1px solid #cccccc;
  resize: none;
  outline: none;
  /*background-image: url("../images/selectarrow.png");*/
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: auto 20%;
  margin-right: 10px;
}
.dataTables_filter {
	max-width:100%;
  font-size: 0.875em;
  margin-bottom: 20px;
  color: #555555 !important;  
  margin-top: 15px;
  margin-right: 10px;
}
.dataTables_wrapper .dataTables_filter input {
  max-width:100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 0.875em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #000000;
  padding: 8px;
  background: #f9f9f9 url(../images/ico-busca.png) no-repeat;
  border: 1px solid #cccccc;
  resize: none;
  outline: none;
  margin-left: 10px;
  padding-left: 25px;
  background-position-x: 5px;
    background-position-y: 3px;
}

table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #f1f1f1;
}
table.dataTable thead .sorting,table.dataTable thead .sorting_asc {
    background-color: #f1f1f1;
}
table.dataTable thead .sorting,table.dataTable thead .sorting_asc{
	font-size:.8rem;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
	font-size:.8rem
}
table.dataTable tbody th .btn, table.dataTable tbody td .btn {
       padding: 6px 7px;
    font-size: .7rem;
    border-radius: 4px!important;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 1em;
    padding-bottom: 1rem;
    padding-right: 1rem;
}
.dataTables_wrapper .dataTables_info{	
    padding-top: 1.8em;
    padding-bottom: 1rem;
    padding-left: 1rem;
	font-size:.9rem
}
/*paginação*/
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #f5f5f5 !important;
    border: 1px solid #2495c7!important;
    background: #00b9ff!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color:#fff!important;
    border: 1px solid #00b9ff!important;
    background-color: #585858!important;
    background: linear-gradient(to bottom, #00e2ff 0%, #00b9ff 100%)!important;
    background: -webkit-linear-gradient(to bottom, #00e2ff 0%, #00b9ff 100%)!important;
    background: -moz-linear-gradient(to bottom, #00e2ff 0%, #00b9ff 100%)!important;
    background: -o-linear-gradient(to bottom, #00e2ff 0%, #00b9ff 100%)!important;
    background: -ms-linear-gradient(to bottom, #00e2ff 0%, #00b9ff 100%)!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button
{ background:#f5f5f5;   border: 1px solid rgba(0, 0, 0, 0.22)!important;border-radius:4px}